{% extends "mail/layout.html" %} {% load static %} {% block body %}

<div class="main_wrapper">
  <div class="main_container">
    <div id="emails-view"></div>

    <div id="compose-view">
      <h4>New Email</h4>
      <div class="error_message"></div>
      <form id="compose-form">
        <div class="mb-3 form-group">
          From:
          <input
            disabled
            class="form-control"
            value="{{ request.user.email }}"
          />
        </div>
        <div class="mb-3 form-group">
          To: <input id="compose-recipients" class="form-control" />
        </div>
        <div class="mb-3 form-group">
          <input
            class="form-control"
            id="compose-subject"
            placeholder="Subject"
          />
        </div>
        <textarea
          class="mb-3 form-control"
          id="compose-body"
          placeholder="Body"
        ></textarea>
        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div>
  </div>

  <div class="side_bar">
    <h4>{{ request.user.email }}</h4>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">
      Archived
    </button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}"
      >Log Out</a
    >
  </div>
</div>

{% endblock %} {% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
